/* OVERALL STYLES */
body {
  background-color: orange;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #22a699;
  text-align: center;
}

a {
  color: whitesmoke;
  text-decoration-line: none;
  transition: all .9s;
}
a:hover {
  color: #f24c3d;
}
a:visited {
  color: #f24c3d;
  text-decoration-line: none;
  opacity: 0.5;
}

/* NAVIGATION STYLE */
/* header */
header {
  background-color: #22a699;
  color: whitesmoke;
  position: fixed;
  width: 100vw;
  height: 20vh;
  z-index: 20;
  top: 0;
  left: 0;
}

.header-logo {
  background-color: transparent;
  display: inline-block;
  position: relative;
  top: 10vh;
  left: 3vw;
  transform: translate(0, -50%);
}
#logo-image {
  width: 15vh;
}
.header-nav {
  float: right;
  padding: 10vh 2vh;
}
.header-nav li {
  display: inline-block;
  padding-left: 3rem;
  border-left: 1px solid orange;
}
.header-nav a, .footer-nav a {
  text-decoration: none;
  color: orange;
  /* text-shadow: 0; */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.header-nav a:hover, .footer-nav a:hover {
  text-shadow: 1px 1px 2px whitesmoke;
  /* transition: all 0.9s; */
}

/* footer */
footer {
  background-color: rgba(30, 30, 30, 0.95);
  color: whitesmoke;
}

/* CONTENT STYLES */
.content-wrapper {
  margin-top: 20vh;
}

/* IMG SYTLES */
.hero {
  margin: 0;
  background-image: url(../images/DSCF0097.jpg);
  background-size: 100%;
  height: 260px;
}
.hero > h1 {
  padding-top: 2rem;
}

img {
  width: 100%;
}

/* STEPS STYLE */
.steps-wrapper {
  clear: left;
}

.steps {
  border: 3px solid powderblue;
  margin: 10px auto;
}


.step-content-itemized::before {
  content: "▶ ";
  color: #22a699;
  size: 0.8rem;
}
/* CHECKBOX STYLES */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

  /* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

  /* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #22a699;
}

  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
  }

  /* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.step-content-itemized {
  position: relative;
  display: inline-block;
  cursor: help;
  margin: 10px 0;
  color: rgba(20, 20, 20, 0.95);
}
.step-content-itemized .post-it-popout {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffff88;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.step-content-itemized:hover .post-it-popout {
  opacity: 1;
  visibility: visible;
}

h2 {
  color: #22a699;
  margin: 5px;
}
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin: 10px;
}

details > summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  cursor: zoom-in;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

/* ------------------------------------------------------------------- */
/* TOTURIAL STYLES */
.video-wrapper {
  margin: 0 auto;
}
