/* OVERALL STYLES */
body {
  background-color: orange;
}

h1 {
  text-align: center;
}

/* NAVIGATION STYLE */
nav {
  border: 2px solid orange;
}

/* IMG SYTLES */
.cat-display {
  margin: 2vw;
}

img {
  width: 100%;
}

.cat-display img {
  float: left;
  width: 25%;
}

/* STEPS STYLE */
.steps-wrapper {
  clear: left;
}

.steps {
  border: 3px solid powderblue;
  margin: 10px auto;
  height: 20vh;
}

h2 {
  margin: 5px;
}

.step-content {
  border: 1px dashed orange;
  margin: 5px;
  height: 75%;
  overflow: scroll;
}
