/* OVERALL STYLES */
body {
  background-color: orange;
  font-size: 18px;
}

h1 {
  text-align: center;
}

a {
  color: navy;
}

/* NAVIGATION STYLE */
nav {
  border: 2px solid orange;
}

/* IMG SYTLES */
.cat-display {
  margin: 2vw;
  background-image: url(../images/DSCF0097.jpg);
  background-size: 25%;
  height: 180px;
}

img {
  width: 100%;
}

.cat-display img {
  float: left;
  width: 25%;
}

/* STEPS STYLE */
.steps-wrapper {
  clear: left;
}

.steps {
  border: 3px solid powderblue;
  margin: 10px auto;
}


.step-content-itemized::before {
  content: "▶ ";
}
.step-content-itemized {
  position: relative;
  display: inline-block;
  cursor: help;
}

.step-content-itemized:hover::after {
  content: attr(data-info);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffff88;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  white-space: nowrap;
  z-index: 1;
}

h2 {
  margin: 5px;
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin: 10px;
}

details > summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: zoom-in;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}
/* .step-content { */
/*   border: 1px dashed blue; */
/*   margin: 5px; */
/*   height: 75%; */
/*   overflow: scroll; */
/* } */
